/*Général */

@font-face{
    font-family : "Raleway";
    src :url("../Police/Raleway-VariableFont_wght.ttf");
}

body{
    font-family: Raleway;
    width :1440px;
}

h2{
    font-size : 20px;
}

h3{
    font-size :18px;
}
h5{
    margin-bottom : 3px;
}
p{
    font-size : 12px;
}

ul{
    list-style: none;
}
li{
    margin-left: -40px;
    margin-bottom :10px;
}

/*----------------------------------------------------------------------------------------------------------------------------------------------------*/

/* Header */
a{
   text-decoration: none;
}

.menu{
    display :flex;
    justify-content: space-between;
}

.link{
    width : 380px;
    display: flex;
    justify-content:space-between;
    margin-left :
}


/* Inscription Link */
.inscriptionLink{
    color :#0065FC;
    font-weight : bold;
}
.inscriptionLink:visited{
    color :#0065FC;
}
.inscriptionLink:focus{
    color :#0065FC;
}
.inscriptionLink:hover{
    color :#0065FC;
}
.inscriptionLink:active{
    color :#0065FC;
}


/* Accomodation Link */ 
.accommodationLink{
    color :#0065FC;
}
.accommodationLink:visited{
    color :#0065FC;
}
.accommodationLink:focus{
    color :#0065FC;
}
.accommodationLink:hover{
    color :#0065FC;
}
.accommodationLink:active{
    color :#0065FC;
}

/* Activites link */
.activitiesLink{
    color :black;
}

/* -------------------------------------------------------------------------------------------------------------------------------------*/

/* Shearch Bar */
.shearchBar{
    height : 60px;
    display :flex;
    margin : 30px 0 30px 0;
}

.iconDiv{
    font-size :20px;
    text-align: center;
    width : 50px;
    height :50px;
    border : 1px #F2F2F2 solid;
    background-color: #F2F2F2;
    border-radius : 15px 0 0 15px;
    
}
.localisationIcon{
    color: black;
    margin-top: 15px;
    
}

.shearchInput{
    width : 135px;
    height :50px;
    border : none;
    border-radius : 0 15px 15px 0 ;
    background-color: #0065FC;
    color : white;
    font-weight: bold;
}
.shearchDiv{
    width : 135px;
    height :50px;
    border : 1px #0065FC solid;
    background-color: #0065FC;
    border-radius : 0 15px 15px 0 ;
    

}

.localisationDiv{
    width : 230px;
    height :50px;
    border : 1px #F2F2F2 solid;

}

.localisationInput{
    width : 230px;
    height :48px;
    border : none;
    text-align : center;
    font-weight :bold;
    color : black;

}

.localisationInput:focus{
    outline :0;
}
/* ----------------------------------------------------------------------------------------------------------------------------------*/

/* Filters */

.filters{
    display :flex;
    justify-content: space-between;
    width : 930px;
    
}
.filtersButton{
    vertical-align: middle;
    border :2px solid #F2F2F2;
    border-radius: 30px;
    height : 50px;
}

.filtersButton:hover{
    background-color: #DEEBFF;
}

.icon{
    padding : 17px;
    border-radius: 30px;
    background-color: #DEEBFF;
    margin-left: -1px;
    color :#0065FC;
    }

.filtersTxt{
    padding : 0 20px 0 20px;
    color : black;
    font-weight: bold;
}

.infoIcon{
    font-size : 9px;
    color :#0065FC;
    padding: 3px 6px 3px 6px;
    border :2px #F2F2F2 solid;
    border-radius : 40px;
}

/* --------------------------------------------------------------------------------------------------------------------------------*/ 
/* Accommodation */
.accommodation{
    display :flex;
    justify-content: space-around;
}
.accommodationLeft{
    display :flex;
    flex-direction: column;
    width : 800px;
    height : 700px;
    background-color: #F2F2F2;
    padding : 40px 40px 40px 40px;
    border-radius: 40px;
}
.accommodationLinks{
    display: flex;
    flex-wrap :wrap;
    justify-content: space-between;
}
.accommodationImg{
    width : 240px;
    height : 200px;
    z-index: 1;
    border-radius: 20px;
    border : 5px white solid;
}
.accommodationGroup{
    border-radius: 20px;
}
.accommodationEtiquette{
    position : relative;
    top : -90px;
    z-index: 2;
    background-color :white;
    color : black;
    border-radius:0 0 20px 20px ;
    padding-left: 15px;
    padding-bottom:10px;
    padding-top: 1px;    
    line-height: 5px;

   
}

.stars{
    color:#0065FC;
}
.empty{
    color: #F2F2F2;
}

.showMore{
    font-weight: bold;
}



.mostPoeple{
    width :420px;
}
    

/* ------------------------------------------------------------------------------------------------------------------------------------*/ 
/*Footer */
footer{
    background-color : #F2F2F2;
    height : 200px;
    margin-top : 40px;

}

.footerDiv{
    display :flex;
    justify-content: space-around;
}

.footerCol{
    text-align :left;
}

/* Couleurs
 bleu  #0065FC

 bleu clair #DEEBFF

 gris #F2F2F2
 */ 
  



