/*All */
@font-face{
    font-family: "raleway";
    src:url("../Police/Raleway-VariableFont_wght.ttf");
}
body{
    width :100%;
    display :flex;
    flex-direction: column;
    font-family: raleway;
    margin : 0;
}
header{
    display :flex;
    margin-left :5%;
    justify-content: space-between;
    
}
section{
    margin-left: 5%;
}
h2{
    font-size :1.2em;
    margin-top :auto;
    margin-bottom: auto;
}
h3{
    font-weight: bolder;
    font-size: x-large;
}
h5{
    font-weight: bolder;
    font-size: large;
    margin-bottom :5px;
}
ul{
    list-style: none;
    line-height: 30px;
}
a{
    color :#0065FC;
    text-decoration: none;
}
.no_margin{
    margin :0;
}
/*Page*/
.divBody{
    width :90%;
    display: flex;
    flex-direction: column;
    margin :auto;
}
/*Menu */
nav{
    display: flex;
    width : 30%;
    justify-content: space-around;
}
.logoReservia{
    padding-top: 15px;
}
nav a{
    padding-top: 20px;
    justify-content: right;
}
.black{
    color :black;
    font-size: medium;
}
.bold{
    font-weight: bold;
}
.blueBar{
    border-top :2px #0065FC outset;
}
.menuResponsive{
    display: flex;
    width :100%;
    text-align : center;
}
.menuResponsiveAccommodation{
    width :50%;
    border-bottom : 3px blue solid;
}
.menuResponsiveActivities{
    width :50%;
    border-bottom : 3px #F2F2F2 solid;
}
.shearchBar{
    display :flex;
    background-color:  #F2F2F2;
    border-radius: 20px;
    width : 40%;
    height : 40px;   
}
.localisationIcon{
    width :10%;
    padding-top : 10px;
    text-align: center;
}
.localisationInput{
    height : 90%;
    width : 65%;
    border :none;
    border-bottom :2px solid  #F2F2F2;
    border-top :2px solid  #F2F2F2;
    padding :0;
    text-align :center;
    font-weight: bolder;
    font-size: large;
}
.localisationInput:focus{
    outline: 0;

}
.localisationButton{
    color :white;
    width :25%;
    background-color: #0065FC;
    text-align: center;
    border-radius: 0 20px 20px 0;
    padding-top: 10px;
    text-decoration: none;
}

/*Filters  */
.filters{
    display: flex;
    width :80%;
    flex-wrap: wrap;
    margin-top: 40px;
}
.filtersDiv{
    border-top : 2px #F2F2F2 solid ;
    border-bottom : 2px #F2F2F2 solid ;
    border-right : 2px #F2F2F2 solid ;
    border-radius: 20px;
    display :flex;
    height: 40px;
    margin-bottom: 20px;
    margin-left :2%;
}
.filtersIcon{
    background-color:#DEEBFF ;
    border-radius: 20px;
    width : 40px;
    height : 30px;
    padding-top: 12px;
    text-align: center;
    color:#0065FC;
}
.filtersText{
    border-radius: 0 20px 20px 0;
    height : 70%;
    padding : 10px 10px 0 10px;
}
.filtersDiv:hover{
    background-color: #DEEBFF;
}
.filtersTitle{
    padding-bottom: 15px;
}
.fa-info{
    border :1px solid #F2F2F2;
    font-size: small;
    color:#0065FC;
    padding :5px;
    padding-left :8px;
    padding-right :8px;
    border-radius: 20px;
}
/* Accomodation */

#accommodation{
    display: flex;
    justify-content: space-between;
}

/*Left Part*/


.leftAccommodation{
    display :flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width : 65%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding-left :2%;
    padding-right: 2%;
}
.leftAccommodationTitle{
    margin-bottom :0;
    margin-left: 20px;
}
.accommodationLink{
    background-color:white ;
    border: 4px solid white;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.02);
    width :25%;
    height :240px;
}
.accommodationLink:hover{
    box-shadow: 5px 5px rgba(0, 0, 0, 0.07);
}

.leftImg{
    object-fit: cover;
    width : 100%;
    height : 115px;
    border-radius: 20px 20px 0 0 ;
}

.fa-star{
    color :blue;
}

.empty{
    color :#F2F2F2;
}
.entireRow{
    width : 100%;
}



/*Right Part*/
.rightAccommodation{
    width :25%;
    padding-left :2%;
    padding-right:2%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 20px;
}
.fa-chart-line{
    font-size: x-large;
    margin-top: 25px;
}

.rightImg{
    height :135px;
    width :40%;
    object-fit: cover;
    border-radius: 20px 0 0  20px ;
    margin-right: 5px;
}
.rightAccommodationLink{
    display:flex;
    text-decoration: none;
    color: black;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.02);
    border :4px solid white;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 60px;
}
.rightAccommodationLink:hover{
    box-shadow: 5px 5px rgba(0, 0, 0, 0.07);
}
.rightAccommodationTitle{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


/*Activities */
#activities{
    display :flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.activity{
    background-color: white;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.02);
    border-radius: 20px;
}
.activity:hover{
    box-shadow: 5px 5px rgba(0, 0, 0, 0.05);
}
.duoActivities{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width :25%;
}
.soloActivity{
    width :20%;
}
.activitiyImg{
    width : 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
.bigImg{
    height: 390px;
}
.middleImg{
    height: 180px;
}
.smallerImg{
    height: 110px;
}
.smallImg{
    height :145px;
}

/*Footer*/
footer{
    display: flex;
    justify-content: space-around;
    background-color: #F2F2F2;
    width :100%;
    margin :0;
}


/*Media*/


@media (max-width:768px){
    /*General*/
    section{
        margin :0;
    }
    /*Menu*/
    .menu{
        flex-direction: column;
        align-items: flex-end;
    }
    .pcOnly{
        display:none;
    }
    /*Shearch Bar*/
    .shearchBar{
        width : 100%;
    }
    /*Filters*/
    .filtersTitle{
        width :100%;
        margin-bottom: 20px;
    }
    /*Accommodation*/
    #accommodation{
        display: flex;
        flex-direction: column-reverse;
    }
    /*Right Accommodation part*/
    .rightAccommodation{
        width :98%;
        margin-bottom: 20px;
    }
    /*Left Accomodation Part (on the bottom of the right part)*/
    .accommodationLink{
        width : 100%;
        height: 300px;
        margin-top: 20px;
    }
    .leftImg{
        width :100%;
        height : 150px;
    }
    .leftAccommodation{
        width :98%;
    }
    /*Activities*/
    .activity{
        margin-bottom: 10px;
    }
    .soloActivity{
        width :100%;
    }
    .duoActivities{
        width: 100%;
    }
    .bigImg, .middleImg, .smallImg,.smallerImg{
        height :200px;
    }
    footer{
        flex-direction: column;
    }
    .rightImg{
        margin-right: 15%;
    }
}



/*Tablet*/
@media (min-width :768px) and (max-width :1024px){
    section{
        margin :0;
    }
    /*Menu*/
    .menu{
        flex-direction: column;
        align-items: flex-end;
    }
    .pcOnly{
        display:none;
    }
    /*Shearch Bar*/
    .shearchBar{
        width : 100%;
    }
    /*Filters*/
    .filtersTitle{
        width :100%;
        margin-bottom: 20px;
    }
    /*Accommodation*/
    #accommodation{
        display: flex;
        flex-direction: column-reverse;
    }
    /*Right Accommodation part*/
    .rightAccommodation{
        width :100%;
        margin-bottom: 20px;

    }
    
    /*Left Accomodation Part (on the bottom of the right part)*/
    .accommodationLink{
        width : 45%;
        height: 300px;
        margin-top: 20px;
    }
    .leftImg{
        width :100%;
        height : 150px;
    }
    .leftAccommodation{
        width :100%;
    }
    /*Activities*/
    .soloActivity{
        width :100%;
        margin-bottom: 20px;
    }
    .duoActivities{
        width: 100%;
        flex-direction: row;
        margin-bottom: 20px;
    }
    .activity{
        margin-right : 10px;
    }
    .bigImg, .middleImg, .smallImg,.smallerImg{
        height :100px;
    }
    footer{
        flex-direction: column;
    }
}


@media (min-width : 1024px){
    .smartphoneOnly{
        display:none;
    }
}
/* Couleurs
 bleu  #0065FC

 bleu clair #DEEBFF

 gris #F2F2F2
 */ 
  



